{% extends 'main/base.html' %}

{% block title %}О разработке{% endblock %}

{% block content %}
<div class="text-center">
    <h2>Этот сайт посвящён самым весёлым крабам в интернете!</h2>
    <p>На этом сайте вы можете:</p>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">✨ Посмотреть милые картинки крабов</li>
        <li class="list-group-item">📝 Оставить сообщение нашей команде</li>
        <li class="list-group-item">🌊 Почувствовать атмосферу моря и солнца</li>
    </ul>
</div>
{% endblock %}
