{% extends 'main/base.html' %}
{% load static %}
{% block title %}Спасибо!{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center mt-5">
    <div class="alert alert-success text-center" role="alert" style="max-width: 600px; width: 100%;">
        <h4 class="alert-heading">Спасибо за сообщение!</h4>
        <img src="{% static 'main/images/party-crab.gif' %}" alt="Праздничный краб" class="img-fluid my-3" style="max-height:300px;">
        <p>Мы получили вашу обратную связь и свяжемся с вами при необходимости.</p>
        <hr>
        <a href="{% url 'home' %}" class="btn btn-primary mt-3">Вернуться на главную</a>
    </div>
</div>
{% endblock %}
